.loading-bar {
    position: relative;
  }
  
  .background-rect {
    position: absolute;
    width: 400px;
    height: 50px;
    background: lightCoral;
  }
  
  .foreground-rect {
    position: absolute;
    height: 50px;
    background: lightBlue;
  }